<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="form">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" th:classappend="${#fields.hasErrors('descricao')}? has-error">
        <label th:for="descricao" class="control-label"><th:block th:text="#{tipo.programacao}" />:</label>
        <input th:field="*{descricao}" class="form-control" />
        <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{titulo}" class="help-block" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <button type="submit" class="btn btn-primary" th:text="#{salvar}" />
      <a class="btn btn-default" th:href="@{/tipo-programacao}" th:text="#{voltar}"></a>
    </div>
  </div>
</th:block>
</body>
</html>