<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="form">
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group" th:class="${#fields.hasErrors('nome')}? has-error">
        <label th:for="nome" class="control-label"><th:block th:text="#{nome}" />:</label>
        <input th:field="*{nome}" class="form-control" placeholder="Nome" />
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="help-block" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group" th:class="${#fields.hasErrors('status')}? has-error">
        <label th:for="status" class="control-label"><th:block th:text="#{status}" />:</label>
        <select th:field="*{status}" class="form-control">
          <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
        </select>
        <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="help-block" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <div class="form-group" th:class="${#fields.hasErrors('email')}? has-error">
          <label th:for="email" class="control-label"><th:block th:text="#{email}" />:</label>
          <input th:field="*{email}" class="form-control" placeholder="E-mail" />
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group" th:class="${#fields.hasErrors('login')}? has-error">
          <label th:for="login" class="control-label"><th:block th:text="#{usuario}" />:</label>
          <input th:field="*{login}" class="form-control" placeholder="Usuário" />
          <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="help-block" />
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <th:block th:if="${id == null}">
          <div class="form-group" th:class="${#fields.hasErrors('senha')}? has-error">
            <label th:for="senha" class="control-label"><th:block th:text="#{senha}" />:</label>
            <input th:field="*{senha}" type='password' class="form-control" />
            <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="help-block" />
          </div>
      </th:block>
      <th:block th:if="${id != null}">
          <div class="form-group" th:class="${#fields.hasErrors('novaSenha')}? has-error">
            <label th:for="novaSenha" class="control-label"><th:block th:text="#{nova.senha}" />:</label>
            <input th:field="*{novaSenha}" type='password' class="form-control" />
            <p th:if="${#fields.hasErrors('novaSenha')}" th:errors="*{novaSenha}" class="help-block" />
          </div>
      </th:block>
    </div>
    <div class="col-lg-6">
        <div class="form-group" th:class="${#fields.hasErrors('confirmarSenha')}? has-error">
          <label th:for="confirmarSenha" class="control-label"><th:block th:text="#{confirmar.senha}" />:</label>
          <input th:field="*{confirmarSenha}" type='password' class="form-control" />
          <p th:if="${#fields.hasErrors('confirmarSenha')}" th:errors="*{confirmarSenha}" class="help-block" />
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="form-group" th:class="${#fields.hasErrors('papeis')}? has-error">
          <label th:for="papeis" class="control-label"><th:block th:text="#{papeis}" />:</label>
          <select th:field="*{papeis}" multiple class="select2 form-control">
            <option th:each="papel : ${papeis}" th:value="${papel}" th:text="${papel}"></option>
          </select>
          <p th:if="${#fields.hasErrors('papeis')}" th:errors="*{papeis}" class="help-block" />
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button type="submit" class="btn btn-primary" th:text="#{salvar}" />
      <a class="btn btn-default" th:href="@{/usuario}" th:text="#{voltar}"></a>
    </div>
  </div>
</th:block>
</body>
</html>