<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layouts/layout}">
<head></head>
<body>
  <th:block layout:fragment="content">
    <div class="starter-template">
      <h1 th:text="#{sistema.titulo}"></h1>
      <p class="lead">Nossas dúvidas são traidoras e nos fazem perder o bem que poderíamos conquistar se não fosse o medo de errar. (William Shakespeare)</p>
    </div>
  </th:block>
</body>
</html>