<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="site-head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="#{sistema.titulo}"></title>

  <link rel="icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}" />
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" />

  <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <th:block th:fragment="site-navbar">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}" th:text="#{sistema.titulo}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${menu eq 'home' ? 'active' : ''}"><a th:href="@{/}" th:text="#{home}"></a></li>
            <li class="dropdown" th:classappend="${menu eq 'cadastro' ? 'active' : ''}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><th:block th:text="#{cadastro}" /> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/programacao}" th:text="#{programacao}"></a></li>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                  <li><a th:href="@{/usuario}" th:text="#{usuario}"></a></li>
                </th:block>
              </ul>
            </li>
            <li th:classappend="${menu eq 'pedidoOracao' ? 'active' : ''}"><a th:href="@{/pedido-oracao}" th:text="#{pedido.oracao}"></a></li>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
              <li th:classappend="${menu eq 'firebase' ? 'active' : ''}"><a th:href="@{/firebase}" th:text="#{firebase}"></a></li>
            </th:block>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" th:classappend="${menu eq 'autenticado' ? 'active' : ''}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/configuracao}" th:text="#{configuracao}"></a></li>
                <li><a th:href="@{/logout}" th:text="#{sair}"></a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </th:block>

  <th:block th:fragment="site-footer">
    <hr />
    <footer>
      <p>&copy; <th:block th:text="#{sistema.titulo}" /></p>
    </footer>
  </th:block>

  <th:block th:fragment="site-script">
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script src="js/application.js" th:src="@{/js/application.js}"></script>
  </th:block>
</body>
</html>